header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}

.logo {
  display: flex;
  padding-left: 30px;
  align-items: center;
  flex-grow: 1;
}

.logo span {
  color: MediumAquamarine;
  padding-left: 10px;
}

header nav {
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

header a {
  color: black;
}

div {
  border: 1px solid black;
}

.content {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-top: 30px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.image-content {
  display: flex;
  margin-top: 15px;
  font-size: 30px;
  font-family: Georgia;
  height: 300px;
  color: white;
  font-weight: bold;
  width: auto;
}

.lead-story .image-content {
  background-image: url("../images/champagne.png");
  font-size: 40px;
  margin-top: 0px;
}

.fall-cancelled.image-content {
  background-image: url("../images/fall-trees.png");
}

.hipster.image-content {
  background-image: url("../images/camera.png");
}

.cat-ceo.image-content {
  background-image: url("../images/cat.png");
}

.narrative {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
